{% extends 'main/header.html' %}
<!--Judging dashboard-->
{%block content%}
    <h1>
        ACTE Fair
    </h1>
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <p>Unscored projects:</p>
            {% for school in schools %}
                <!-- <p>{{school}}:</p> -->
                {% for project in school.project_set.all %}
                    {% if project.score == null %}
                    <p><a href="{% url 'main:judge' project.front_end_id %}">&nbsp;&nbsp;&nbsp;&nbsp;{{project.front_end_id}} - {{project.name}}</a></p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <p>Scored projects:</p>
            {% for school in schools %}
                <!-- <p>{{school}}:</p> -->
                {% for project in school.project_set.all %}
                    {% if project.score != null %}
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{project.front_end_id}} - {{project.name}} - {{project.score}}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}