{% extends 'main/header.html' %}

{%block content%}
    <h3>
        <strong>
        Snead State ACTE Fair
        </strong>
    </h3>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <h4>Admin's Pages</h4>
            <ul>
                <li>
                    <a href = "{% url 'admin:index' %}">Site Administration Dashboard</a>
                </li>   
                <li>
                    <a href = "{% url 'main:admin' %}">Database Administration Page</a>
                </li>
            </ul>
            <p></p>
            <hr/>
        {% endif %}
        
        {% if user.is_staff %}
            <h4>Judge's Pages</h4>
            <ul>
                <li>
                    <a href = "{% url 'main:judge' %}">Judges' Dashboard</a>  
                </li>   
            </ul>            
        {% endif %}

        {% if  not user.is_staff and not user.is_superuser %}
            <h4>School's Pages</h4>
            <ul>
                <li>
                    <a href = "">Edit School Information</a>
                </li>
                <li>
                    <a href = "">Edit Students</a>
                </li>
                <li>
                    <a href = "">Edit Projects</a>
                </li>
            </ul>
        {% endif %}
    {% else %}
        <p>
            Please <a href ="{% url 'main:login' %}">log in</a> to continue.
        </p>
    {% endif %}

{% endblock %}