<li><a href="{% url 'main:homepage' %}">Home</a></li>
{% if user.is_authenticated %}
    {% if user.is_superuser %}
        <li><a class= "dropdown-trigger" data-target= "dropMain" href= "#">Administration<i class="material-icons right">arrow_drop_down</i></a>
        <ul id="dropMain" class="dropdown-content">
            <li><a href="{% url 'admin:index' %}">Admin Dashboard</a></li>
            <li><a href="{% url 'main:admin' %}">Database Dashboard</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'main:judge' %}">Judging Dashboard</a></li>
        </ul>
        </li> 
    {% endif %}
    {% if user.is_staff and not user.is_superuser %}
        <li><a href="{% url 'main:judge' %}">Judging Dashboard</a></li>
    {% endif %}
    <li><a href= "{% url 'main:account' %}">{{user.username|title}}</a></li>
    <li><a href= "{% url 'main:logout' %}">Logout</a></li>
{% else %}
    <li><a href="{% url 'main:login' %}">Log in</a></li>
    <li><a href="{% url 'main:register' %}">Register</a></li>
{% endif %}

<script>
    $(document).ready(function(){
        $('.dropdown-trigger').dropdown({
            constrain_width: false,
            hover: false,
            belowOrigin: true
        });
        $('.sidenav').sidenav({
			hover: false
		});
	});
</script>